{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-modules-commonjs", {
      "strictMode": false
    }],
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ]
}